.card {
    border-radius: 0.45rem;
    border: none;
    margin-bottom: 1rem;
}

.card-header {
    background: white;
    h5 {
        font-size: 1.1rem;
    }
}

.card-header:first-child {
    border-radius: calc(0.45rem - 1px) calc(0.45rem - 1px) 0 0;
}